<!doctype html>
<title>ToxicCommentDetection</title>
<h2>Toxic Comment Detection System<h2>
<div class="foss-sec2">
	<form class="foss-form">
	  <input class="foss-tbox" placeholder="Enter Text Here" name="text">
	<div class="foss-submit-p">
	  <button class="foss-submit">
	    Submit
	    </button>
<h3>Soring POST Request Serivice<h3>
<h4>Available at /score, example request:<h4>
curl -H "Content-Type: application/json" -X POST -d "{\"text\":\"this is a test\"}" http://127.0.0.1:5000/score
	</div>
	</form>
</div>
